
body h1{
  color: #2c3e50;
  text-decoration: underline;
}

.site-header-servicios {
  background-color: #ffffff;
  color: white;
}

#txt_opciones{
  font-size: 160%;
  margin-left: 10%;
  text-decoration: none;
}

.left-side{
    box-shadow: inset 0px 10px 9px -4px rgba(15, 10, 10, 0.292)  ;
    height: 100%;
    width: 17vw;
    background-color: #004d99;
   
}
 
.left-side>p {margin-left: 5%;}







.options button{
  display: block;
  padding-left: 0%;
  margin-top: 0.5%;
  width: 90%;
  height:20% ;
  padding: 10px 0 10px 0;
  gap: 20%;
  border:solid #2c3e50 3px;
  border-radius: 3px;
  font-family:sans-serif ;
  

}





.options{margin-left: 5%;
  

}

.header-content{

  display: flex;
  flex-direction: row;
  
  gap: 3%;
}

#info_area{
  color: rgb(0, 0, 0);
  width:93% ;
}


/* Responsive */
@media (max-width: 700px) {
.left-side{

    height: 100vh;
    width: 40vw;
    background-color: #004d99;
}

}

